.registration-wrapper {
    width: 100vw;
    height: 100vh;
    background: url('../Assets/bookshelf.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.wrapper .error-message{
    text-align: center;
    color: #FFCDD2;
    padding-bottom: 25px;
}

.wrapper p a {
    text-decoration: none;
    font-weight: 600;
}

.wrapper p a:hover{
    text-decoration: underline;
}