.rec-form-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-form {
  background: linear-gradient(135deg, #F5E6D0, #f3d9bd);
  padding: 2.5rem;
  border-radius: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: 3rem auto;
  transition: var(--transition);
}

.rec-form label {
  display: block;
  margin-bottom: 0.6rem;
  color: #4E2A1E;
  font-weight: bold;
  font-size: 16px;
}

.rec-form input[type="text"],
.rec-form select {
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 1.8rem;
  border-radius: 14px;
  border: 1px solid #d2b48c;
  background-color: #fffaf3;
  font-size: 15px;
  transition: var(--transition);
}

.rec-form input[type="text"]:focus,
.rec-form select:focus {
  border-color: #c2936c;
  outline: none;
  box-shadow: 0 0 0 3px rgba(210, 180, 140, 0.3);
}

.rec-form input[type="text"]::placeholder {
  color: #a58b6f;
  font-style: italic;
}

.rec-form .button-wrapper {
  display: flex;
  justify-content: center;
}

.rec-form button[type="submit"] {
  background-color: #6b3f2e;
  color: white;
  padding: 0.85rem 1.6rem;
  border: none;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rec-form button[type="submit"]:hover {
  background-color: #582e21;
}


